<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>cycle test</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="dashboard">
      <svg>
        <circle class="bg" cx="57" cy="57" r="52" />
        <circle class="meter-1" cx="57" cy="57" r="52" />
        <div class="vs-text">
          <h2>LOAD</h2>
          <p class = "number-info load-info">250 vs 1000</p>
          <p class="number-info load-percent">25%</p>
        </div>
      </svg>
      <svg>
        <circle class="bg" cx="57" cy="57" r="52" />
        <circle class="meter-2" cx="57" cy="57" r="52" />
        <div class="vs-text">
          <h2>TIME</h2>
          <p class = "number-info time-info">250 vs 1000</p>
          <p class="number-info time-percent">25%</p>
        </div>
      </svg>
      <svg>
        <circle class="bg" cx="57" cy="57" r="52" />
        <circle class="meter-3" cx="57" cy="57" r="52" />
        <div class="vs-text">
          <h2>DISTANCE</h2>
          <p class = "number-info distance-info">250 vs 1000</p>
          <p class="number-info distance-percent">25%</p>
        </div>
      </svg>
    </div>


  <script src="circle.js" charset="utf-8"></script>
  </body>
</html>
