body {
  display: grid;
  height: 100vh;
  place-items: center;
  background: #243b47;
}

.dashboard {
  display: flex;

}

svg {
  width: 114px;
  height: 114px;
  margin: 2em;
  padding: 20px;
}

.bg {
  fill: none;
  stroke-width: 10px;
  stroke: #1A2C34;
}

[class^="meter-"] {
  fill: none;
  stroke-width: 10px;
  stroke-linecap: round;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;

}

.meter-1 {
  stroke-dasharray: 360;
  stroke-dashoffset: 270;
  /* stroke: aqua; */
  stroke: #00B4D8;
  animation: progress-1 1s ease-out;
}
.meter-2 {
  stroke: lime;
  stroke-dasharray: 360;
  stroke-dashoffset: 270;
  animation: progress-2 .75s ease-out;
}
.meter-3 {
  /* stroke: magenta; */
  stroke: #F94892;
  stroke-dasharray: 360;
  stroke-dashoffset: 270;
  animation: progress-3 .5s ease-out;
}

@keyframes progress-1 {
    from {
        stroke-dashoffset: 360;
    }
    to {
        stroke-dashoffset: 270;
    }
}

@keyframes progress-2 {
  from {
    stroke-dashoffset: 360;
  }
  to {
    stroke-dashoffset: 270;
  }
}

@keyframes progress-3 {
  from {
    stroke-dashoffset: 360;
  }
  to {
    stroke-dashoffset: 270;
  }
}

h2 {
  color: white;
  font-size: 20px;

}

.vs-text {
  text-align: center;
}

.number-info {
  color: white;
  font-size: 15px;
}
