<head>
  <script src="https://kit.fontawesome.com/f65ad91e68.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div class = "taskList">
    <h2 class = "taskTitle"> Upcoming Tasks </h2>

    <label class = "task">
      <input type = "checkbox">
      <i class="fa-solid fa-check"></i>
      <span class = "text"> Run 2.5 KM </span>
     <!--  <br>
      <span class = "text"> 05.01.2022 </span>
      <br> -->
    </label>

    <label class = "task">
      <input type = "checkbox">
      <i class="fa-solid fa-check"></i>
      <span class = "text"> Swim 3 KM </span>
      <!-- <br>
      <span class = "text"> 06.01.2022 </span>
      <br> -->
    </label>

    <label class = "task">
      <input type = "checkbox">
      <i class="fa-solid fa-check"></i>
      <span class = "text"> Cycling 6 KM </span>
      <!-- <br>
      <span class = "text"> 08.01.2022 </span>
      <br> -->
    </label>
  </div>
</body>
